.ease-all-trans4, .ease4 {
    @include ino-transition(all 0.4s ease);
}
.lh-0 {
    line-height: 0;
}
.full-width-img {
    max-width: 100%;
    width: 100%;
    display: block;
}
.ul-clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.rad3 {
    @include border-radius(3px);  
}
.fl {
    float: left;
}
.fr {
    float: right;
}