//Global Functions For this theme, no need to delete
@mixin background-cache-bust($url) {
    background-image: #{'url('} + $url + #{'?v='} + unique_id() + #{')'};
}
@mixin ino-transition($value) {
    transition: $value;
    -moz-transition: $value;
    -webkit-transition: $value;
    -o-transition: $value;
}

@mixin ino-transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
    -o-transform: $value;
}