/* TYPOGRAPHY */
$unicode-heading: 'Roboto Condensed', 'MyanmarAngoun', 'Zawgyi-One', sans-serif;
$zawgyi-heading: 'Roboto Condensed', 'Zawgyi-One', 'MyanmarAngoun',  sans-serif;
$unicode-body: 'Roboto Condensed', 'NotoSansMyanmar-Regular', 'Zawgyi-One',  sans-serif;
$zawgyi-body: 'Roboto Condensed', 'Zawgyi-One', 'NotoSansMyanmar-Regular',  sans-serif;
$headings-color:              #000000 !default;
$body-color:                #414141 !default;
body {

}
.editor-styles-wrapper {
    font-family: $unicode-heading;
    h1,h2,h3,h4,h5,h6 {
        color: $headings-color;
        font-family: $unicode-heading;
        font-weight: 600;
        font-size: 1.95em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
    }
    p, ul, li {
        color: $body-color;
        font-size: 16px !important;
        font-family: $unicode-heading;
        font-weight: 400;
        line-height: 1.8 !important;
    }
    ul, ol {
        margin-bottom: 28px;
        padding: inherit;
        padding-left: 1.3em;
        margin-left: 1.3em;
    }
    ul {
        list-style-type: disc;
    }
    .wp-block-image {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        figcaption {
            color: #555d66;
            font-size: 13px;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
    }
    figure{
        &.wp-block-gallery {
            display: block;
            margin: 0;
            .blocks-gallery-grid {
                padding-left: 0;
                margin-left: 0;
                margin-bottom: 0;
                .blocks-gallery-caption {
                    color: #555d66;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
    }
    blockquote, q {
        &.wp-block-quote {
            border-left: 4px solid #000;
            margin: 0 0 28px 0;
            padding-left: 1em;
            &.is-large {
                border: none;
            }
            &.is-style-large, &.is-large {
                margin: 0 0 16px;
                padding: 0 1em;
            }
            cite, .wp-block-quote footer, .wp-block-quote__citation {
                color: #6c7781;
                font-size: 13px;
                margin-top: 1em;
                position: relative;
                font-style: normal;
            }
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        tbody {
            tr {
                td {
                    border: 1px solid;
                    padding: 0.5em;
                    word-break: normal;
                }
            }
        }
    }
    .wp-block-table {
        figcaption {
            color: #555d66;
            font-size: 13px;
            text-align: center;
        }
    }
    .wp-block-separator {
        border: none;
        border-bottom: 2px solid #8f98a1;
        margin-left: auto;
        margin-right: auto;
    }
    .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
        max-width: 100px;
    }
    .wp-block-separator.is-style-wide {
        border-bottom-width: 1px;
    }

.wp-block-latest-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: block;
        a {
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 15px 0;
            text-decoration: none;
          }
      }
  }
    .wp-block-embed {
        margin-left: 0;
        margin-right: 0;
        clear: both;
        margin-bottom: 1em;;
    }
}

body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
    position: relative;
}
body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
    content: "";
    display: block;
    padding-top: 50%;
}
body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
    padding-top: 56.25%;
}
body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.components-sandbox {
    overflow: hidden;
}
@media (min-width: 600px) {
    .wp-block-embed {
        min-width: 360px;
    }
}
.wp-block {
    max-width: 730px;
}