@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
    font-family: 'Zawgyi-One';
    src: url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/Zawgyi-One/Zawgyi-One.eot?#iefix') format('embedded-opentype'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/Zawgyi-One/Zawgyi-One.woff') format('woff'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/Zawgyi-One/Zawgyi-One.ttf') format('truetype');
    font-weight: normal;
    font-style:normal
}

@font-face {
    font-family: 'MyanmarAngoun';
    src: url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/MyanmarAngoun/MyanmarAngoun.eot?#iefix') format('embedded-opentype'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/MyanmarAngoun/MyanmarAngoun.woff') format('woff'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/MyanmarAngoun/MyanmarAngoun.ttf') format('truetype');
    font-weight: normal;
    font-style:normal
}

@font-face {
    font-family: 'NotoSansMyanmar-Regular';
    src: url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/NotoSansMyanmar/NotoSansMyanmar-Regular.eot?#iefix') format('embedded-opentype'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/NotoSansMyanmar/NotoSansMyanmar-Regular.woff') format('woff'), url('https://dvb.dex/wp-content/themes/inoforest/dist/fonts/NotoSansMyanmar/NotoSansMyanmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}