/* TYPOGRAPHY */
.editor-styles-wrapper {
  font-family: "Roboto Condensed", "MyanmarAngoun", "Zawgyi-One", sans-serif;
}
.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 {
  color: #000000;
  font-family: "Roboto Condensed", "MyanmarAngoun", "Zawgyi-One", sans-serif;
  font-weight: 600;
  font-size: 1.95em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
.editor-styles-wrapper p, .editor-styles-wrapper ul, .editor-styles-wrapper li {
  color: #414141;
  font-size: 16px !important;
  font-family: "Roboto Condensed", "MyanmarAngoun", "Zawgyi-One", sans-serif;
  font-weight: 400;
  line-height: 1.8 !important;
}
.editor-styles-wrapper ul, .editor-styles-wrapper ol {
  margin-bottom: 28px;
  padding: inherit;
  padding-left: 1.3em;
  margin-left: 1.3em;
}
.editor-styles-wrapper ul {
  list-style-type: disc;
}
.editor-styles-wrapper .wp-block-image {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.editor-styles-wrapper .wp-block-image figcaption {
  color: #555d66;
  font-size: 13px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.editor-styles-wrapper figure.wp-block-gallery {
  display: block;
  margin: 0;
}
.editor-styles-wrapper figure.wp-block-gallery .blocks-gallery-grid {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.editor-styles-wrapper figure.wp-block-gallery .blocks-gallery-grid .blocks-gallery-caption {
  color: #555d66;
  font-size: 13px;
  text-align: center;
}
.editor-styles-wrapper blockquote.wp-block-quote, .editor-styles-wrapper q.wp-block-quote {
  border-left: 4px solid #000;
  margin: 0 0 28px 0;
  padding-left: 1em;
}
.editor-styles-wrapper blockquote.wp-block-quote.is-large, .editor-styles-wrapper q.wp-block-quote.is-large {
  border: none;
}
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large, .editor-styles-wrapper blockquote.wp-block-quote.is-large, .editor-styles-wrapper q.wp-block-quote.is-style-large, .editor-styles-wrapper q.wp-block-quote.is-large {
  margin: 0 0 16px;
  padding: 0 1em;
}
.editor-styles-wrapper blockquote.wp-block-quote cite, .editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote footer, .editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation, .editor-styles-wrapper q.wp-block-quote cite, .editor-styles-wrapper q.wp-block-quote .wp-block-quote footer, .editor-styles-wrapper q.wp-block-quote .wp-block-quote__citation {
  color: #6c7781;
  font-size: 13px;
  margin-top: 1em;
  position: relative;
  font-style: normal;
}
.editor-styles-wrapper table {
  border-collapse: collapse;
  width: 100%;
}
.editor-styles-wrapper table tbody tr td {
  border: 1px solid;
  padding: 0.5em;
  word-break: normal;
}
.editor-styles-wrapper .wp-block-table figcaption {
  color: #555d66;
  font-size: 13px;
  text-align: center;
}
.editor-styles-wrapper .wp-block-separator {
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}
.editor-styles-wrapper .wp-block-separator.is-style-wide {
  border-bottom-width: 1px;
}
.editor-styles-wrapper .wp-block-latest-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.editor-styles-wrapper .wp-block-latest-posts li {
  display: block;
}
.editor-styles-wrapper .wp-block-latest-posts li a {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-embed {
  margin-left: 0;
  margin-right: 0;
  clear: both;
  margin-bottom: 1em;
}

body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
  position: relative;
}

body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
  content: "";
  display: block;
  padding-top: 50%;
}

body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
  padding-top: 56.25%;
}

body .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe, body .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.components-sandbox {
  overflow: hidden;
}

@media (min-width: 600px) {
  .wp-block-embed {
    min-width: 360px;
  }
}
.wp-block {
  max-width: 730px;
}