.widget-box {
    background: #fff;
    box-shadow: 0 0 4px #e7dbdb;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    ul {
        li {
            a {
                position: relative;
                .p-count {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: block;
                    width: 30px;
                    border-radius: 10px;
                    font-weight: bold;
                    margin-top: -10px;
                }
            }
        }
    }
}

.std-sidebar {
    padding: 30px 10px 0;
}

.widget-box .std-wg-title {
    background: $primary;
    color: #fff;
    margin: -15px -15px 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

.widget-box .tagcloud {

}
.widget-box .tagcloud a{
    background: #dde6f3;
    padding: 3px 4px;
    border-radius: 9px;
    text-decoration: none;
    color: #222;
    transition: all 0.4s ease;
}

.widget-box .tagcloud a:hover {
    background: $primary;
    color: #fff;
}

.widget-box.widget_pages ul, 
.widget-box.widget_nav_menu ul,
.widget-box.widget_meta ul,
.widget-box.widget_archive ul,
.widget-box.widget_categories ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget-box.widget_pages ul li a, 
.widget-box.widget_nav_menu ul li a,
.widget-box.widget_meta ul li a,
.widget-box.widget_archive ul li a,
.widget-box.widget_categories ul li a {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid #ddd;
    text-indent: 0;
    transition: all 0.4s ease;
    text-decoration: none;
}
.widget-box.widget_pages ul li:last-child > a,
.widget-box.widget_nav_menu ul li:last-child > a,
.widget-box.widget_meta ul li:last-child > a,
.widget-box.widget_archive ul li:last-child > a,
.widget-box.widget_categories ul li:last-child > a {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.widget-box.widget_pages ul li:hover > a, 
.widget-box.widget_nav_menu ul li:hover > a,
.widget-box.widget_meta ul li:hover > a,
.widget-box.widget_archive ul li:hover > a,
.widget-box.widget_categories ul li:hover > a {
    text-indent: 5px;
    border-bottom-color: $primary;
}

.widget-box.widget_recent_entries ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget-box.widget_recent_entries ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    transition: all 0.4s ease;
}
.widget-box.widget_recent_entries ul li:last-child {
    border-bottom: 0;
}
.widget-box.widget_recent_entries ul li a {
    display: block;
    color: #414141;
    font-size: 13px;
    text-decoration: none;
    transform: scale(1);
    transition: all 0.4s ease;
}

.widget-box.widget_recent_entries ul li  .post-date {
    color: $primary;
    font-size: 12px;
}

.widget-box.widget_recent_entries ul li:hover {
    border-color: $primary;
    transform: scale(0.9);
}



.widget-box.widget_calendar .calendar_wrap .wp-calendar-table {
    width: 100%;
}


.gallery-size-thumbnail {
    overflow: hidden;
}
.gallery-size-thumbnail .gallery-item {margin: 0;}

.gallery-columns-3 .gallery-item {
    float: left;
    width: 33.3333333333%;
}
.gallery-columns-3 .gallery-item img {
    max-width: 100%;
    height: auto;
}

.gallery-columns-3 .gallery-item .gallery-icon {
    padding: 10px;
}